# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
*/generated/*
!src/generated/
!src/generated/resources/
src/generated/resources/*
!src/generated/resources/assets/
src/generated/resources/assets/*
!src/generated/resources/assets/littlelogistics/
src/generated/resources/assets/littlelogistics/*
!src/generated/resources/assets/littlelogistics/ponder/
src/generated/resources/assets/littlelogistics/ponder/*
!src/generated/resources/assets/littlelogistics/ponder/train_linking.nbt
!src/generated/resources/assets/littlelogistics/ponder/train_routing.nbt
!src/generated/resources/assets/littlelogistics/ponder/train_docking.nbt
!src/generated/resources/assets/littlelogistics/ponder/tug_linking.nbt
!src/generated/resources/assets/littlelogistics/ponder/tug_routing.nbt
!src/generated/resources/assets/littlelogistics/ponder/tug_docking.nbt
mcmodsrepo
.factorypath

# Files from Forge MDK
forge*changelog.txt

# runs
/runs

# Vibe coding stuff
.hive
CLAUDE.local.md
.mcp.json
/.claude/settings.local.json

# junit
*/junit*args.txt
